<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Example</title>
    <!-- Created by Umut Sar -->
    <!-- github.com/umutsar -->
</head>
<body>
    <div id="chat-box">
        <% messages.forEach((message, index) => { %>
            <p>
                <%= message.text %>
                <% if (message.is_admin) { %>
                    <form action="/delete/<%= index %>" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                <% } %>
            </p>
        <% }); %>
    </div>
</body>
</html>
